In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import seaborn as sns

In [2]:
#Loaded Dataset
df = pd.read_csv('Boston.csv')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,NaN,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
#There are one missing value in this dataset 
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        1
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [4]:
r=df.age.median()
r

77.3

In [5]:
#convert to integer
import math
median_age=math.floor(df.age.median())
median_age

77

In [6]:
#Fill the age column using fillna function
df.age.fillna(r)

0      65.2
1      77.3
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: age, Length: 506, dtype: float64

In [7]:
df.age=df.age.fillna(r)
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,77.3,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [8]:
reg=linear_model.LinearRegression()
reg.fit(df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']],df.medv)

LinearRegression()

In [9]:
# Coefficients of x
b=reg.coef_
b

array([-1.08011614e-01,  4.64256393e-02,  2.05585324e-02,  2.68658968e+00,
       -1.77698927e+01,  3.80958660e+00,  7.34906608e-04, -1.47537790e+00,
        3.06065736e-01, -1.23349694e-02, -9.52780770e-01,  9.31113167e-03,
       -5.24814289e-01])

In [10]:
# Intercept
a=reg.intercept_
a

36.46089216896667

In [11]:
#Apply Multiple Linear Regression 
medv=b[0] * df['crim'] + b[1] * df['zn'] + b[2] * df['indus'] + b[3] * df['chas'] + b[4] * df['nox'] + b[5] * df['rm'] + b[6] * df['age'] + b[7] * df['dis'] + b[8] * df['rad'] + b[9] * df['tax'] + b[10] * df['ptratio'] + b[11] * df['b'] + b[12] * df['lstat'] + a
medv

0      30.004193
1      25.025383
2      30.567908
3      28.607044
4      27.943714
         ...
501    23.532896
502    22.375725
503    27.627974
504    26.128489
505    22.344527
Length: 506, dtype: float64